---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import VisionSection from '../components/VisionSection.astro';
import WhySection from '../components/WhySection.astro';
import InvestmentSection from '../components/InvestmentSection.astro';
import WhoSection from '../components/WhoSection.astro';
import ClosingCTA from '../components/ClosingCTA.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <VisionSection />
    <WhySection />
    <InvestmentSection />
    <WhoSection />
    <ClosingCTA />
    <Footer />
  </main>
</BaseLayout>
